@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: red !important;
}
.imagesImg {
  background-position-x: 250%;
  background-position-y: 40%;
  background-repeat: no-repeat;
  background-size: 80%;

  background-origin: right top;
}
.imagesImg:nth-child(1){
    background-color: lightblue;
}
.imagesImg:nth-child(2){
    background-color: lightcyan;
}
.imagesImg:nth-child(3){
    background-color: lightpink;
}


